@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background: var(--color-alura);
}

#root {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}